*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #263238;
    color: #fff59d;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.principal hr{
    width: 100%;
    margin: 1rem;
}

.principal h3{
    font-size: max(1.3rem, 2vw);
}
.principal h2{
    font-size: max(1.2rem, 2vw);
}